* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

p {
  margin: 10px 0;
}

.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: scroll;
  align-items: center;
}

.mainContent {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  width: 80%;
  justify-content: space-between;
}

.leftColumn {
  width: 40%;
}

.rightColumn {
  width: 50%;
}

.rightColumn h1 {
  margin-bottom: 20px;
}

.HUD {
  margin-top: 60px;
}

.MoonriseList {
}

.MoonriseRow {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 10px;
  align-items: center;
}

.MoonphaseImage {
  width: 10%;
  margin-right: 20px;
}

.MoonriseTime {
  margin-right: 20px;
}

.CalendarButton {
  width: 20%;
}

header {
  width: 100%;
  align-items: center;
  display: flex;
  justify-content: space-between;
  background-color: black;
  color: white;
  padding: 20px 20px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

form input,
form textarea {
  margin-bottom: 10px;
  width: 300px;
}

nav,
article {
  height: 100%;
  padding: 10px;
}

nav {
  background-color: #dee9ff;
}

nav p:hover {
  text-decoration: underline;
  cursor: pointer;
}

article .date {
  font-style: italic;
}

article .body {
  white-space: break-spaces;
}

.error {
  background-color: red;
  color: gold;
  padding: 5px;
}

@media screen and (max-width: 700px) {
  .mainContent {
    width: 95%;
    flex-direction: column;
  }
}
